logs/
options.txt
/.vscode
/backups
/.mixin.out
/crash-reports
/journeymap
/local
/mods
/saves
/screenshots
usercache.json
usernamecache.json
patchouli_data.json
emi.json
rhino.local.properties
kubejs/config/probejs.json
/gtceu/prospection_cache
